:root {
  --primaryColor: #ff8000;
  --hoverColor: #ffa825;
  --secondaryColor: #2a2825;
  --thirdColor: #ffe2c7;
  --fourthColor: #cd4631;
  --fifthColor: #7b6d8d;
  --backgroundColor: #f0f7ee;
  --successColor: #00ff00;

  --whiteColor: #ffffff;
  --blackColor: #000000;
}
